@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'sans-serif';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}
